#task-list li input[type="checkbox"]:checked + span.task {
    text-decoration: line-through;
    text-decoration-color: greenyellow;
}

#task-list li input[type="checkbox"]:not(:checked) + span.task {
    text-decoration: none;
}

body {
    background-color: #0f0f0f;
}

#h1 {
    text-align: center;
    font-family: 'tangerine-cursive', cursive;
    color: white;
    font-size: 50px;
}

#input-task-div {
    text-align: center;
    margin-right: auto;
    margin-left: 527px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 955px;
}

#task-list-div {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task {
    font-family: 'cursive', cursive;
}

#input-task {
    flex-grow: 9;
    height: 40px;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    border-bottom-color: greenyellow;
    border-right: none;
    border-top: none;
    border-left: none;
    background-color: #0f0f0f;
    display: inline-block;
    vertical-align: top;
    color: white;
    text-align: center;
    outline: none;
    font-size: 24px;
}

#add-task-button {
    vertical-align: top;
    font-family: 'tangerine-cursive', cursive;
    color: greenyellow;
    background-color: #0f0f0f;
    border-top: none;
    border-bottom: 1px solid white;
    border-left: 2px solid white;
    border-right: none;
    font-size: 20px;
    list-style: none;
    padding: 0;
    width: 4%;
    display: inline-block;
    flex-grow: 1;
    margin-left: 5px;
    text-align: center;
    height: 30px;
    transition: border-bottom-color 0.2s ease-in-out;
}

#add-task-button:hover {
    background-color: #363636;
    color: white;
    border-bottom: 1px solid greenyellow;
    border-left: 2px solid greenyellow;
}

#task-list {
    list-style: none;
    padding: 0;
    width: 50%;
    margin: auto;
}

#task-list li {
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#task-list li input[type="checkbox"] {
    margin-right: 10px;
}

#task-list li span {
    flex-grow: 1;
    color: white;
    white-space: normal;
    overflow-wrap: break-word;
    overflow: hidden;
}

#task-list li button.delete-btn:hover {
    background-color: lightcoral;
}

#task-list li button.delete-btn {
    margin-left: 5px;
    width: 30px;
    height: 20px;
    margin-right: 5px;
}

#task-list li button.delete-btn:hover img {
    background-color: lightcoral;
    opacity: 1;
}

#task-list li button.delete-btn img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@font-face {
    font-family: 'cursive';
    src: url('../fonts/Caveat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'tangerine-cursive';
    src: url('../fonts/tangerine-regular.ttf') format('truetype');
}
